* {
    --blue : rgb(26, 115, 232);
    --font-color : rgb(98, 101, 104, 0.2)
}

header {
    /* background-color: yellow; */
    height: 50px;
    position: relaftive;
}

header #mini-nav-bar {
    display: none;
}

header #nav-bar {
    display: flex;
    justify-content: end;   
    align-items: center;
    height: 40px;
    padding-right: 15px;
    padding-top: 10px;
}

header #nav-bar ul {
    height: 25px;
    display: flex;
    align-items: center;
}

header #nav-bar ul li{
    display: inline;
    font-size: .8rem;
    color: rgb(38, 32, 49);
    margin-left: 10px;
    cursor: pointer;
}

header #nav-bar ul li:nth-child(3) {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 15px;
}

header #nav-bar ul li ion-icon {
    font-size: 1.2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-20%);
    transform: translateX(-50%);
    color: rgb(98, 101, 104);
}

header #nav-bar ul li:hover {
    text-decoration: underline;
}

header #nav-bar ul li:nth-child(3):hover {
    background-color: rgb(98, 101, 104, 0.15);
}

header #nav-bar ul li button {
    border: none;
    border-radius: 3px;
    background-color:var(--blue);
    color: white;
    font-size: 0.9rem;
    height: 35px;
    width: 90px;
    margin-left: 10px;
}

header #nav-bar ul li button:hover {
    background-color: rgb(19, 90, 184);
}


main #search-area {
    height: calc(100vh - 142px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main #search-area #logo img{
    margin-bottom: 20px;
    margin-top: 25vh;
}

main #search-area #search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid  var(--font-color);
    border-radius: 25px;
    width: 550px;
    height: 45px;
}

main #search-area #search-bar:hover {
    box-shadow: 1px 2px 3px 1px var(--font-color);
}

main #search-area #search-bar ion-icon {
    color: rgba(120, 123, 126, 0.8);
    margin-left: 13px;
}

main #search-area #search-bar input {
    width: 440px;
    border: none;
}

main #search-area #search-bar input:focus {
    outline: none;
}

main #search-area #search-bar img {
    height: 30px;
    cursor: pointer;
}

main #search-area #search-btns button{
    border: 1px solid rgb(98, 101, 104, 0.0);
    margin-top: 20px;
    margin-right: 10px;
    color: rgb(38, 32, 49);
    font-size: .9rem;
    padding: 7px 10px;
    border-radius: 3px;
    background-color: rgb(248, 249, 250);
    cursor: pointer;
}

main #search-area #search-btns button:hover {
    border: 1px solid rgb(98, 101, 104, 0.2);
    box-shadow: 0px 1px 1px 0px rgb(98, 101, 104, 0.4);
}

main #search-area #search-lang{
    margin-top: 20px;
    color: rgb(38, 32, 49);
    font-size: .85rem;    
}

main #search-area #search-lang label a{
    margin-left: 5px;
    color: blue;
    cursor: pointer;
}

main #search-area #search-lang label a:hover{
    text-decoration: underline;
}

footer {
    background-color: rgb(242,242,242);
    font-size:.9rem;
    color: rgb(128, 123, 123);

}

footer #row-1 {
    height: 45px;
    border-bottom: 1px solid rgb(98, 101, 104, 0.2);
    padding-left: 30px;
    display: flex;
    align-items: center;
}

footer #row-2 {
    height: 45px;
    border-bottom: 1px solid rgb(98, 101, 104, 0.2);
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer #row-2 #row-2-1 label{
    margin-right: 20px;
}

footer #row-2 #row-2-2 label{
    margin-right: 20px;
}

footer #row-2 label:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media all and (max-width:992px) {
    main #search-area #logo img{
        margin-top: 20vh;
    }


    main #search-area #search-bar {
        width: 450px;
        height: 35px;
    }

    main #search-area #search-bar input{
        width: 350px;
    }

    main #search-area #logo img{
        height: 80px;        
    }
}

@media all and (max-width:614px) {
    main #search-area #logo img{
        margin-top: 15vh;
    }

    footer #row-2 {
        justify-content: center;
    }
}


@media all and (max-width:567px) {
    main #search-area #logo img{
        margin-top: 10vh;
    }

    header #mini-nav-bar {
       display: flex;
       height: 35px;
       position: absolute;
       top: 15px;
       left: 10px;
    }

    header #mini-nav-bar ul{
        display: inline;
        display: flex;
        align-items: center;
        color: rgb(98, 101, 104);
        font-weight: bold;

    }

    header #mini-nav-bar ul li{
        display: inline;
        font-size: .8rem;
        margin-right: 20px;
    }

    header #mini-nav-bar ul li:hover{
        border-bottom: 2px solid  var(--blue);
    }

    header #mini-nav-bar ul li ion-icon {
        font-size: 2rem;
    }

    header #nav-bar .nav-item-lg {
        display: none;
    }

    main #search-area #search-bar {
        width: 350px;
        height: 35px;
    }

    main #search-area #search-bar input{
        width: 250px;
    }

    main #search-area #logo img{
        height: 60px;        
    }

    main #search-area #search-btns button{ 
        display: none;
    }

    main #search-area #search-lang{ 
        margin-top: 30px;
    }
}

@media all and (prefers-color-scheme: dark) {
    :root {
        background-color: rgb(32,33,36);
        color: white !important;
    }

    header #nav-bar ul li{
        color: white;
    }

    header #nav-bar ul li ion-icon{
        color: white;
    }

    header #nav-bar ul li button{
        color: black;
        background-color: rgb(138,180,248);
    }

    header #nav-bar ul li button:hover {
        background-color: rgb(138,180,248);
    }

    main #search-area #logo img{
        content: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_light_color_272x92dp.png);
    }

    main #search-area #search-btns button{
        border: 1px solid rgba(158, 160, 161, 0);
        color: white;
        background-color: rgb(48,49,52);
    }

    main #search-area #search-btns button:hover {
        border: 1px solid rgba(166, 167, 172, 0.5);
    }


    main #search-area #search-bar input {
        background-color: rgb(32,33,36);
    }

    main #search-area #search-bar {
        border-color: rgb(79, 80, 85);
    }

    main #search-area #search-lang{ 
        color:  rgb(166, 167, 172);
    }

    main #search-area #search-lang label a{ 
        color: rgb(138,180,248)

    }

    footer {
        background-color: rgb(23,23,23);
        color: rgb(226,226,224);
    }

    footer #row-1 {
        border-bottom: 1px solid rgb(60,64,67);
    }

    
}

